ion-card {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);  
    display: inline-block; 
  }
  
  ion-card img {
    width: 100%; 
    border-radius: 10px 10px 0 0;
  }
  

  .card-vista {
    background-color: #e0ffe0; 
    transition: background-color 0.3s ease-in-out;
  }
  
  .card-no-vista {
    background-color: #ffe0e0;
    transition: background-color 0.3s ease-in-out;
  }

  